.header
    background-image url('../images/bicycle.jpg')
    background-size cover
    &-menu
        background-color black
        border-top 2px solid #065C87
        text-align center
        font-size 1.2em
        .item
            color #3498DB
            display inline-block
            margin-bottom .5em
            i
                margin-right .3em
                color white
        .mercadolibre
            margin 0 3em
.product
    &-name
        display flex
        justify-content space-between
        margin-top 1em
        .description
            padding 1em
            h1
                color #3498DB
            p
                color #585858
                font-size 1.2em
.caracteristicas
    &-title
        color white
        padding .3em 1em
        background #065C87
        font-size 1.5em
        text-align right
    &-items
        display flex
        justify-content space-around
        flex-wrap: wrap
        .caracs
            margin 1em 0
            li
                font-size 1.3em
                margin-bottom .5em
        img
            width 70vh
.imagenes
    &-items
        text-align center
        figure
            display inline-block
            margin 0 .5em 1em 0           
            img
                width 70%
.pagos
    figure
        display inline-block
        margin 0 0 1em 1em        
    .desc
        font-size 1.3em
    i
        margin-left .5em
.envio
    .formas
        font-size 1.3em
        margin-left 1em
    figure
        margin-left 1em
    &-image
        margin-top 1em
.ubicacion
    &-figure
        display flex
        justify-content center
        .figure
            border 6px solid #065C87
            border-radius: 900px 900px 900px 900px;
            width 50vh
            height 50vh
            img
                border-radius: 900px 900px 900px 900px;
                width 50vh
                height 50vh
.titleSections
    color white
    padding .3em 1em
    background #065C87
    margin-bottom 1em
    font-size 1.5em
    text-align left
        