.header
    background-image url('../images/bicycle.jpg')
    background-size cover
    &-menu
        background-color black
        border-top 2px solid #065C87
        text-align center
        font-size 1.3em
        .item
            color #3498DB
            display inline-block
            margin-bottom .5em
            i
                margin-right .3em
                color white
        .mercadolibre
            margin 0 3em
.product
    &-name
        display flex
        justify-content space-between
        margin-top 1em
        .description
            font-weight lighter
            padding 1em
            span
                color #3498DB
                font-size 2em
                font-weight bold
            p
                font-size 1.5em
.caracteristicas
    &-title
        color white
        padding .3em 1em
        background #065C87
        font-size 1.8em
        text-align right
    &-items
        display flex
        justify-content space-around
        flex-wrap wrap
        font-size 1.2em
        font-weight lighter
        .caracs
            margin 1em 0
            li
                font-size 1.3em
                margin-bottom .5em
        img
            width 50vh
.imagenes
    &-title
        color white
        padding .3em 1em
        background #065C87
        font-size 1.8em
        text-align left
    &-items
        text-align center
        figure
            display inline-block
            margin 1.5em .5em 1em 0
            img
                width 60%
.pagos
    figure
        display inline-block
        margin 0 0 1em 1em
    .desc
        font-size 1.3em
    i
        margin-left .5em
.envio
    .formas
        font-size 1.4em
    figure
        margin-left 1em
    &-image
        margin .8em
.ubicacion
    &-figure
        .figure
            border 9px solid #3498db
            border-radius: 900px 900px 900px 900px;
            width 50vh
            height 50vh
            display inline-block
            img
                border-radius: 900px 900px 900px 900px;
                width 50vh
                height 50vh
        .ciudad
            font-size 1.2em
            margin-top .5em

.titleSections
    font-size 1.3em
    margin .8em 0
    color white
    padding .3em 1em
    background #065C87
    margin-bottom 1em
    font-size 2em
    text-align center

.mercadopagos
    border-right 1px solid lightgray
    padding-right 1em

.center
    text-align center
.row
    display flex
    flex-direction row
    align-items center
    justify-content center

.left
    margin-left .5em

.sombra
    -webkit-box-shadow 11px 7px 28px -9px rgba(0,0,0,0.75)
    -moz-box-shadow 11px 7px 28px -9px rgba(0,0,0,0.75)
    box-shadow 11px 7px 28px -9px rgba(0,0,0,0.75)
